<div class="jumbotron">
    <h1 class="display-4">{{ 'home.title' | translate }}!</h1>
    <p class="lead">{{ 'home.resume' | translate }}</p>
    <hr class="my-4">
    <p>{{ 'home.text' | translate }}</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">{{ 'home.button' | translate }}</a>
    </p>
</div>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4" *ngFor="let item of images">
                <div class="card mb-4 shadow-sm">
                    <img 
                        [defaultImage]="item.default"
                        [lazyLoad]="item.thumb ? item.thumb : item.image" 
                        class="bd-placeholder-img card-img-top" width="100%" height="225" />
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>